#show_hide{
    transform: translateX(240px) translateY(5px)
}


#show_ban{
    transform: translateX(240px) translateY(5px)
}

.form-control{
    padding-right: 40px;
}

.btn-primary{
    background-color: #00297a;
    color: white;
    border: none;
    width: 100%;
    margin-top: 10px;
}