label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 30px 30px;
  background-color: rgb(255, 255, 255);
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.profile-img-card {
  width: 96px;
  height: 46px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 0%;
  -webkit-border-radius: 0%;
  border-radius: 0%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #00297a;
  color: white;
  padding: 15px;
  text-align: center;
}


.navbar-custom {
  background-color: #00297a;
}



.nav-item:hover{
  color: #ffffff;
  background-color: #8f9fff;
  border-radius: 5px;
}

.nav-item:active{
  color: #ffffff;
  background-color: #8f9fff;
  border-radius: 5px;
}

.nav-link:active{
  color: #ffffff;
  background-color: #8f9fff;
  border-radius: 5px;
}

body{
  background-color: rgb(168, 168, 168);
}